body {
    background-color: #fcfbfb;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.home-title, .msg h2 {
    font-family: 'Brush Script MT', Georgia, serif;
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg p {
    font-size: .8em;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

.home-title {
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
